@media (max-width: 1200px){
    .namecard { 
        display: none;
    }

    .content{
        padding-top: 40px;
    }
}
.info{
    display: inline-block;
}

.content h1, .content p, .content h2 {
    display: block;
    padding: 5px;
    text-align: left;
}

.content h1 {
    padding-bottom: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 30px;
    color: #044734;
}

.content h2 {
    padding-bottom: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    color: #044734;
}

.info{
    width: 100%;
}

.box{
    padding-bottom: 30px;
    width: 100%;
}

.text {
    display: inline-block;
    width: 100%;
}

.content .icon {
    height: 70px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    color: #044734;
    margin-bottom: 10px;
    margin-top: 30px;
}

.content .text {
    height: 100px;
    min-width: 300px;
    text-align: left;
}

.content .fa{
    font-size: 70px;
}

.personal .icon {
    display: none;
}

.text, .text .fa {
    font-size: 17px;
}


.box:not(:first-of-type) .text p{
    display: inline;
    text-align: left;
}

li {
    margin: 0px;
    padding: 4px;
}

li .h2{
    font-size: 20px;
    color: #044734;
    padding-bottom: 8px;
    padding-top: 20px;
}

@media (min-width: 900px){
    .info {
        padding: 30px;

    }

    .content .text {
        max-width: 550px;
    }

    .icon {
        display: inline;
        float: left;
    }
}